     .body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #0e2b88;
        }
     .header {
            background-color: #1240d9;
            color: rgb(15, 42, 88);
            padding: 20px 0;
            text-align: center;
        }
      .section {
            padding: 20px;
            max-width: 800px;
            margin: auto;
        }
        h2 {
            color: #5e84f5;
        }
     .conclusion {
            background-color: #1354ed;
            padding: 15px;
            border-radius: 8px;
        }
     .footer {
            background-color: #1154da;
            color: rgb(47, 93, 244);
            text-align: center;
            padding: 10px 0;
            margin-top: 20px;
        }
