     .body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #57f96a;
        }
     .header {
            background-color: #4CAF50;
            color: rgb(67, 227, 46);
            padding: 20px 0;
            text-align: center;
        }
      .section {
            padding: 20px;
            max-width: 800px;
            margin: auto;
        }
        h2 {
            color: #f55e5e;
        }
     .conclusion {
            background-color: #a1ed13;
            padding: 15px;
            border-radius: 8px;
        }
     .footer {
            background-color: #f18787;
            color: rgb(76, 253, 108);
            text-align: center;
            padding: 10px 0;
            margin-top: 20px;
        }
